@import "../../index.scss";

.tour {
  margin: 2rem 0;
  background-color: $mainGrey;
  img {
    width: 100%;
    display: block;
    min-height: 13rem;
  }
}

@media screen and(min-width:768px ) {
  .tour {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
  }
}
.img-container {
  position: relative;
  &:hover {
    .close-btn {
      transition: $mainTransition;
      opacity: 1;
    }
  }
  .close-btn {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: $mainGreen;
    cursor: pointer;
    transition: $mainTransition;
    opacity: 0;
  }
}

.tour-info {
  padding: 1rem 0.5rem;
  h3 {
    text-transform: uppercase;
    color: $mainGreen;
  }
  h4 {
    text-transform: capitalize;
    color: $mainBlack;
    margin: 0.2rem 0 0.6rem 0;
  }

  h5 {
    text-transform: capitalize;
    span {
      color: $mainGreen;
      margin: 0.5rem;
      cursor: pointer;
    }
  }
}

.showInfo {
  margin-top: 15px;
}
